
.navbar{
          background-color: #111;
          z-index: 1;
          position: fixed;
          top: 0;
          width: 100%;
          height: 40px;
          padding: 20px;
          display: flex;
          justify-content: space-between;
}
.netflix-logo{
          position: fixed;
          top: -10px;
          width: 110px;
          left: 20px;
}
.avatar{
          position: fixed;
          right: 20px;
          width: 30px;
          margin-right: 20px;
          z-index: 1;
}
a {
  color: white;
  text-decoration: none;
  margin-left: 100px;
  margin: 5px;  
}
.home-bar{
  margin-left: 15%;
  margin-top: 10px;
}
a:hover{
  color:gray
}
