.banner{
          background-size: cover;
          height: 550px;
          color: white;
}
.content{
          padding-top: 140px;
          height: 190px;
          padding-left: 30px;
}
.title{
          font-size: 3rem;
          font-weight: 800;
          padding-bottom: 0.3rem;
          text-shadow: 1px 1px 30px #111;
}
.button{
          color: white;
          width: 110px;
          border:none;
          outline: none;
          font-weight: 800;
          border-radius: 5px;
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          background-color: rgba(51,51,51,0.5);
          cursor: pointer;
          margin-right: 2rem;
          display: flex;
          display:inline-block;
          text-align: center;
          white-space: nowrap;
          
}
.button:hover{
          color: black;
          background-color: #e6e6e6;
}

.description{
          width: 45rem;
          line-height: 1.3;
          padding-top: 1rem;
          font-size: 1rem;
          height: 80px;
          max-width: 500px;
          text-shadow: 1px 1px 7px #111;

}
.fade-bottom{
          height: 14rem;
          background-image: linear-gradient(to bottom , rgba(255,0,0,0), rgba(17, 17, 17, 1)
          );
}