.row{
          margin-left: 20px;
          color: white;
}
.posters{
          display:flex;
          padding:20px;
          overflow-x: scroll;
          overflow-y: hidden;
          
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
          margin-top: 15px;
          max-height: 250px;
          margin-right: 15px;
          cursor: pointer;
}

.small-poster{
          max-height: 150px;
          cursor: pointer;
          margin-right: 15px;
}
.poster:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.small-poster:hover{
    transform: scale(1.3);
    transition-duration: 0.5s;
}